Checks: >
    -*,
    bugprone-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    -google-readability-namespace-comments,
    -google-runtime-int,
    -google-runtime-references,
    -misc-non-private-member-variables-in-classes,
    -readability-uppercase-literal-suffix,
    -readability-named-parameter,
    -readability-braces-around-statements,
    -modernize-macro-to-enum

CheckOptions:
    - { key: readability-identifier-naming.NamespaceCase, value: CamelCase }
    - { key: readability-identifier-naming.FunctionCase, value: lower_case }
    - { key: readability-identifier-naming.VariableCase, value: lower_case }
    - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
    - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
    - { key: readability-identifier-naming.GlobalVariablePrefix, value: g }
    - { key: readability-identifier-length.MinimumVariableNameLength, value: 3 }
    - { key: readability-identifier-length, value: 30 }
    # - { key: readability-identifier-naming.GlobalConstantPrefix, value: k }
    # - { key: readability-identifier-naming.BoolPrefix, value: "b_" }
    # - { key: readability-identifier-naming.VariableHungarianPrefix, value: On }
    # - { key: readability-identifier-naming.HungarianNotation.UserDefinedType.bool, value: "b_" }
    # - { key: readability-identifier-naming.HungarianNotaion.PrimitiveType.bool, value: "b_"}